{% extends 'AppTienda/base.html' %}
{% load static %}
{% block title %}Tienda - Categoria{% endblock title %}


{% block content %}

<h1>{{ categoria.nombre }}</h1>
<ul>

{% for producto in productos %}
    <div class="card">
    <img src="{{producto.imagen.url}}" alt="{{ producto.titulo }}" style="width:50%">
    <h1><a href="
    {% if request.user.is_authenticated %}
                {% if perms.Tienda.change_producto or perms.Tienda.delete_producto  %}
                    {% url 'Tienda:EditarProducto' producto.id %}
                {% else %}
                    {% url 'Tienda:VerProducto' producto.id %}
                {% endif%}
    {% else %}
        {% url 'Tienda:VerProducto' producto.id %}
    {% endif%}
    
    "> 
    {{ producto.titulo }} </a></h1>
    <p class="price">${{ producto.precio }}</p>
    <p>{{ producto.descripcion }}</p>
    <button role="link" onclick="window.location.href='{% url 'Tienda:AgregarProducto' producto.id  %}';">Agregar al carrito</button>
    </div>
{% empty %}
    <p>Nada que mostrar</p>
{% endfor %}
</ul>
{% endblock content %}