{% extends 'AppTienda/base.html' %}
{% load static %}
{% block title %}Tienda - Carrito{% endblock title %}


{% block content %}

<h1>Productos en Carrito de compras</h1>

<table id="carro">
<tr>
    <th>Producto</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th>Restar</th>
</tr>

{% for id, valor in carro.items %}
     <tr>
     <td>{{ valor.titulo }}</td>
     <td>{{ valor.cantidad }}</td>
     <td>${{ valor.precio }}</td>
     <td><a href="{% url 'Tienda:RestarCarro' valor.producto_id %}">X</a></td>
     </tr>    
    
    {% endfor %}

</table>
<a href="{% url 'Tienda:LimpiarCarro' %}">Vaciar carrito</a>

{% endblock content %}